@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply antialiased text-[#2D2D2D] min-h-[100dvh];
    }

    #root {
        @apply min-h-[100dvh];
    }
}